@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media print {
    html, body {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  }
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
  }
}
